<form class="bg-secondary text-white mt-1 rounded">
    <h4 class="text-center" [ngStyle]="{'color':'yellowgreen'}">Fill in the form to publish your quotes</h4>
    <div class="form-group m-2">
        <label for="name">Enter your Name</label>
        <input type="text" id="name" class="form-control w-75">
    </div>
    <div class="form-group m-2">
        <label for="title">Enter the title of your quote</label>
        <input type="text" id="title" class="form-control w-75">
    </div>
    <div class="form-group m-2">
        <label for="description">Enter the descritpion of your quote</label>
        <textarea type="text" rows="4" id="description" class="form-control w-75"></textarea>
    </div>
    <div class="form-group m-2">
        <label for="howOld">select the day it was created</label>
        <input type="date" id="howOld" class="form-control w-50">
    </div>
    <button class="btn btn-primary m-3">submit</button>
</form>
