<div class="bg-secondary text-white mt-1 rounded">
    <form (ngSubmit)="passUserQuote()" #myform="ngForm">

        <h3 class="text-center my-3" [ngStyle]="{'color':'yellowgreen'}">Fill in the form to publish your quotes</h3>
        <p class="text-dark">Your Quote will be published below the other quotes</p>

        <div class="form-group m-2">
            <label for="name">Enter your Name</label>
            <input #name="ngModel" type="text" id="name" name="quotePoster"class="form-control w-75" required [(ngModel)]="userQuote.quotePoster">

            <div *ngIf="name.invalid && name.touched" class="alert alert-danger">User Name is required</div>
        </div>
        <div class="form-group m-2">
            <label for="title">Enter the title of your quote</label>
            <input #title="ngModel" type="text" id="title" name="quoteName" required class="form-control w-75" [(ngModel)]="userQuote.quoteName">
            <div *ngIf="title.invalid && title.touched" class="alert alert-danger">Name of the quote is required</div>
        </div>
        <div class="form-group m-2">
            <label for="description">Enter Author of the quote</label>
            <input #author="ngModel" type="text" id="description" name="quoteAuthor" required class="form-control w-75" [(ngModel)]="userQuote.quoteAuthor">
            <div *ngIf="author.invalid && author.touched" class="alert alert-danger">Quote author is required</div>
        </div>
        <div class="form-group m-2">
            <label for="description">Enter the descritpion of your quote</label>
            <textarea #description="ngModel" required type="text" rows="4" name="quoteDesc" id="description" class="form-control w-75" [(ngModel)]="userQuote.quoteDesc"></textarea>
            <div *ngIf="description.invalid && description.touched" class="alert alert-danger">Quote description is required</div>
        </div>
        <div class="form-group m-2">
            <label for="howOld">select the day it was created</label>
            <input #date="ngModel" required type="date" id="howOld" name="created" class="form-control w-50" [(ngModel)]="userQuote.created">
            <div *ngIf="date.invalid && date.touched" class="alert alert-danger">Name is required</div>
        </div>
        <button class="btn btn-primary m-3"  >submit</button>
    </form>
</div>
