<div class="container bg-dark">
  <nav class="navbar navbar-expand-sm navbar-dark ">
    <a class="navbar-brand ms-5" [ngStyle]="{'color':'greenYellow'}">{{title}}</a>
    <button
    type="button"
    class="navbar-toggler"
    data-bs-target="#myNav"
    data-bs-toggle="collapse"
    aria-expanded="false"
    aria-label="toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="myNav">
      <ul class="navbar-nav ms-auto">
        <li><a class="nav-link px-5">Home</a></li>
        <li><a class="nav-link px-5">Contacts</a></li>
      </ul>
    </div>
  </nav>
</div>
<app-quote></app-quote>
