img{
    height: 250px;
    border-radius: 15px;
    background-color: black;
}
.iconsDiv{
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
fa-icon{
    font-size: 30px;
}
h3{
    font-size: 25px;
    font-weight: bold;
}